<div class="container col-xxl-8 px-4 py-5 user-cont">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <%= link_to image_tag("bootstrap-themes.png", class: "d-block mx-lg-auto img-fluid", alt: "Bootstrap Themes", width: "700", height: "500", loading: "lazy"), root_path %>
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Responsive left-aligned hero with image</h1>
      <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
      </div>
    </div>
  </div>
  Morbi consequat, neque a congue semper, dui mi pellentesque turpis, quis feugiat turpis turpis rutrum massa.
  Nulla ultrices purus a elit dapibus facilisis.
  Nunc ante augue, rhoncus sit amet risus vel, accumsan pulvinar lectus. C
  urabitur commodo quis ante nec scelerisque.
  Morbi sodales odio a porttitor viverra.
<br>
<% if !current_user.nil? && current_user.admin? %>
<h2><%= "You are admin!!"%></h2>
<% else %>
<h2><%= "You are NOT admin" %></h2>
<% end %>
</div>
