<div class="container col-xxl-8 px-4 py-5 user-cont">
  <div class = "text-center">
    <h1>List of all users</h1>
  </div>
  <br>
  <ol>
  <% @users.each do |u| %>
      <li><%= u.email %></li>
  <% end %>
  </ol>
</div>
